<div ng-controller="PlayCtrl" xmlns="http://www.w3.org/1999/html">
	<h1>Play game!</h1>

	<div ng-show="noGame">
		<button id="btnCreateGame" ng-click="createGame()">Create
			Game</button>
		<label for="gameUri">Game URI</label> <input ng-model="joinUri" />
		<button id="btnJoinGame" ng-click="join()">Join game</button>
	</div>
	<div ng-show="playing">
		Your score: {{yourScore}}<br/>
		Their score: {{theirScore}}<br/>
	</div>
	<div ng-show="waitingForPlayer">
		Waiting for second player. To join, use url {{joinUri}}
	</div>
	<div ng-show="needToDeal">
		<select id="choice" ng-model="choice">
			<option value="ROCK">rock</option>
			<option value="PAPER">paper</option>
			<option value="SCISSOR">scissor</option>
		</select>
		<button ng-click="deal()">Deal</button>
	</div>
	<div ng-show="youWon">
		<h1>You won!</h1>
	</div>
	<div ng-show="youLost">
		<h1>You lost!</h1>
	</div>
</div>